@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="width: 300px; background-color: gray;">
        <table style="width: 200px; margin: auto;">
            <tr>
                <td>Sample</td>
                <td>HTML</td>
            </tr>
            <tr>
                <td>Mail</td>
                <td>Body</td>
            </tr>
            <tr>
                <td>Username: </td>
                <td>@ViewBag.Username</td>
            </tr>
        </table>
    </div>
</body>
</html>
